body {
  margin: 0;
  padding:0;
  background: #d8edfc;
}
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
}
h1{
  color: rgb(29, 79, 83);
}
.button{
  font-size:18px;
  padding: 0 10px;
  background:rgb(29, 79, 83);
  border-radius: 5px;
  color: #d8edfc;
  user-select: none;
  cursor: pointer;
  max-width: fit-content;

}
.form{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 10%;
  box-sizing: border-box;
}
.inputwrap{
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
input{
  height: 40px;
  font-size:18px;
  box-sizing: border-box;
  outline: none;
  background: #f6fbff;
  border: none;
  padding: 0 1%;
  /* border-bottom: 1px solid #35A599; */
}
.form input{
  width: 100%;
}
.horizontal{
  width: 100%;
  display: flex;
  gap:20px;
}
.horizontal input{
  display: flex;
  gap: 30px;
  
}
.imagewrap{
  width: 50%;
  height: 100%;
  position: relative;
}
.imagewrap img{
  position: absolute;
  width: 90%;
  bottom: 10%;
  right:10%;
}
